@import url("http://yui.yahooapis.com/2.9.0/build/reset-fonts-grids/reset-fonts-grids.css");
html {
  font-family: Verdana;
  background-color: #eee;
  color: #444;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.2em;
  font-size: 1.2em;
  border: #ccc;
}

h1 {
  font-size: 1.5em;
  color: #5C9EBE;
}

h3 {
  font-size: 1.4em;
}

a {
  color: #444;
  text-decoration: none;
}

ul li {
  list-style-type: disc;
}

b {
  font-weight: bold;
}

.error {
  color: red;
}

.disabled {
  display: none;
}

.blocked {
  color: #bbb;
}

.question {
  margin:auto;
}

.explanation {
  display: none;
}

#explanationBox {
  margin: auto;
  font-size: 1.4em; 
}

#explanationBox .header {
  font-weight: bold;
}

#footer {
  margin-top: 1em auto;
  color: hsl(0, 100%, 50%); 
}
