@import url("http://yui.yahooapis.com/2.9.0/build/reset-fonts-grids/reset-fonts-grids.css");
.disabled {
  display: none;
}

#questions {
  margin:auto;
}

table {
  width: 80%;
  margin: auto;
}

td {
  width: 10px;
  text-align: right;
}
