@import url("http://yui.yahooapis.com/2.9.0/build/reset-fonts-grids/reset-fonts-grids.css");
html {
  font-family: Verdana;
  background-color: #eee;
  color: #444;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.2em;
  font-size: 1.2em;
  border: #ccc;
}

h1 {
  color: #5C9EBE;
}

h3 {
  font-size: 1.4em;
}

.disabled {
  display: none;
}

.blocked {
  color: #bbb;
}

#questions {
  margin:auto;
}

#output {
  text-align: left;
  margin: auto;
}

.radio {
  width: 19px;
  height: 25px;
  padding: 0 5px 0 0;
  display: block;
  clear: left;
  float: left;
}

#footer {
  margin-top: 1em auto;
  color: hsl(0, 100%, 50%); 
}
