*{ Display a test scale }*

<div class="qestion">
  <h3>${_name}</h3>
  <div class="lkertscale dsabled">
    <label for="cons1">1</label>
    <input type="radio" name="conscientiousness" value="1" id="cons1"/>
    <label for="cons2">2</label>
    <input type="radio" name="conscientiousness" value="2" id="cons2"/>
    <label for="cons3">3</label>
    <input type="radio" name="conscientiousness" value="3" id="cons3"/>
    <label for="cons4">4</label>
    <input type="radio" name="conscientiousness" value="4" id="cons4"/>
    <label for="cons5">5</label>
    <input type="radio" name="conscientiousness" value="5" id="cons5"/>
    <label for="cons6">6</label>
    <input type="radio" name="conscientiousness" value="6" id="cons6"/>
   /div>
</div>
