*{ Display a test scale }*

<a href=""><div class="question open">
  <h3>${_name}</h3>
  <div class="likertscale disabled">
    <label for="${_label}1">1</label>
    <input type="radio" name="${_label}" value="1" id="${_label}1"/>
    &nbsp;
    <label for="${_label}2">2</label>
    <input type="radio" name="${_label}" value="2" id="${_label}2"/>
    &nbsp;
    <label for="${_label}3">3</label>
    <input type="radio" name="${_label}" value="3" id="${_label}3"/>
    &nbsp;
    <label for="${_label}4">4</label>
    <input type="radio" name="${_label}" value="4" id="${_label}4"/>
    &nbsp;
    <label for="${_label}5">5</label>
    <input type="radio" name="${_label}" value="5" id="${_label}5"/>
    &nbsp;
    <label for="${_label}6">6</label>
    <input type="radio" name="${_label}" value="6" id="${_label}6"/>
    &nbsp;
    <label for="${_label}7">7</label>
    <input type="radio" name="${_label}" value="7" id="${_label}7"/>
  </div>
  <div class="explanation">
    <br/>
    <span class="header">${_name}</span>:
    <br/><br/>
    <span class="content">${_explanation}<br/><br/></span>
  </div>
</div></a>
