#{extends 'main.html' /}
#{set title:'Onderzoek' /}

<body class="yui-skin-sam">
<div id="doc4" class="yui-t3">
  <div id="hd" role="banner">
    <br/><br/>
    <h1>Uitleg over persoonlijkheidsschalen<h1/>
    <br/><br/>
    <h4>

    <ul>
      #{listitem header:'Commercieel inzicht', text:'De kandidaat toont inzicht te hebben in de marktmechanismen binnen en buiten het bedrijf. Hij/Zij weet waarom bepaalde producten of diensten succes hebben en andere niet.' /}

      #{listitem header:'Verkoopvaardigheden', text:'De kandidaat kan klanten persoonlijk begeleiden naar een aankoop, heeft een professionele uitstraling, luistert goed, en kan de klanten overtuigen.' /}
    
      #{listitem header:'Onderhandelen', text:'De kandidaat is sterk in het overbrengen van eigen standpunten, weegt goed de argumenten en belangen van de andere partij om zo tot geschikte oplossingen voor beide partijen te komen.' /}
      
      #{listitem header:'Klantgerichtheid', text:'De kandidaat is in staat de wensen en behoeften van klanten te onderzoeken, erop te anticiperen en ernaar te handelen. Hij/zij geeft een hoge prioriteit geven aan dienstverlening en klanttevredenheid.' /}
    
      #{listitem header:'Mondeling communiceren', text:'De kandidaat maakt zijn/haar ideeën en meningen duidelijk in een begrijpelijke, ondersteund door een passende lichaamstaal. Hij/zij past zijn taal en terminologie aan de toehoorders aan.' /}
    
      #{listitem header:'Openheid', text:'De kandidaat gaat op zoek gaan naar nieuwe ervaringen, is nieuwsgierig en fantasievol.' /}
    
      #{listitem header:'Consciëntieusheid', text:'De kandidaat gaat georganiseerd en doelgericht te werk, is stipt en nauwkeurig.' /}
    
      #{listitem header:'Extraversie', text:'De kandidaat heeft behoefte heeft aan contact met anderen. Hij/zij is sociaal, actief, praatgraag, gericht op personen, optimistisch.' /}
    
      #{listitem header:'Aangenaamheid', text:'De kandidaat is hulpvaardig, meegaand en tolerant.' /}
    
      #{listitem header:'Emotionele stabiliteit', text:'De kandidaat is emotioneel stabiel en tevreden met zichzelf. Hij is ontspannen en heeft weinig last hebben van emotionele gebeurtenissen.' /}
    
      #{listitem header:'Eerlijkheid', text:'De kandidaat is eerlijk en oprecht ten opzichte van anderen, houdt zich niet bezig met leugens of verdoezeling van feiten.' /}
    
      #{listitem header:'Intelligentie', text:'De kandidaat kan problemen goed oplossen. Hij/zij kan goed leren of weet veel. Hij/zij is in staat op een abstracter niveau na te denken.' /}

</ul>

Druk op doorgaan om het selectie interview te starten. 
Zorg er voor dat u het geluid aan hebt staan en het interview ongestoord kan bekijken.
Het interview duurt niet langer dan 10 minuten.
    
    <br/><br/>
    <h4/>
    <form method="GET" action="interview">
      <input type="submit" value="Doorgaan"/> 
    </form>
  </div>
  <div id="bd" role="contentinfo">
    <div id="yui-main">
      <!-- YOUR DATA GOES HERE
    </div>
    <div role="navigation" class="yui-b">
    </div>
  </div>
</div>

</body>
</html>
