#{extends 'main.html' /}
#{set title:'Onderzoek' /}

<body class="yui-skin-sam">

<div id="doc4" class="yui-t3">
  <div id="hd" role="banner">
    <br/><br/>
      <form method="POST" action="bedankt">
        Tot slot wil ik u graag nog de volgende vragen voorleggen:
        <br/><br/>  
        <b>Hoe groot is de kans (in percentages) dat u:</b>   
<br/><br/>
Deze kandidaat uitnodigt voor een 2e gesprek?   
  <div>
    <label for="gesprek1">kleiner dan 20%</label>
    <input type="radio" name="gesprek" value="gesprek1" />
    &nbsp;
    <label for="gesprek2">20 tot 40%</label>
    <input type="radio" name="gesprek" value="gesprek2" "/>
    &nbsp;
    <label for="gesprek3">40 tot 60%</label>
    <input type="radio" name="gesprek" value="gesprek3" "/>
    &nbsp;
    <label for="gesprek4">60 tot 80%</label>
    <input type="radio" name="gesprek" value="gesprek4" "/>
    &nbsp;
    <label for="gesprek5">meer dan 80%</label>
    <input type="radio" name="gesprek" value="gesprek5" "/>
    &nbsp;
  </div>

<br/>
Deze kandidaat aanneemt
  <div>
    <label for="aanneemt1">kleiner dan 20%</label>
    <input type="radio" name="aanneemt" value="aanneemt1" />
    &nbsp;
    <label for="aanneemt2">20 tot 40%</label>
    <input type="radio" name="aanneemt" value="aanneemt2" "/>
    &nbsp;
    <label for="aanneemt3">40 tot 60%</label>
    <input type="radio" name="aanneemt" value="aanneemt3" "/>
    &nbsp;
    <label for="aanneemt4">60 tot 80%</label>
    <input type="radio" name="aanneemt" value="aanneemt4" "/>
    &nbsp;
    <label for="aanneemt5">meer dan 80%</label>
    <input type="radio" name="aanneemt" value="aanneemt5" "/>
    &nbsp;
  </div>

<br/>
Deze kandidaat afwijst voor de functie?                  
  <div>
    <label for="afwijst1">kleiner dan 20%</label>
    <input type="radio" name="afwijst" value="afwijst1" />
    &nbsp;
    <label for="afwijst2">20 tot 40%</label>
    <input type="radio" name="afwijst" value="afwijst2" "/>
    &nbsp;
    <label for="afwijst3">40 tot 60%</label>
    <input type="radio" name="afwijst" value="afwijst3" "/>
    &nbsp;
    <label for="afwijst4">60 tot 80%</label>
    <input type="radio" name="afwijst" value="afwijst4" "/>
    &nbsp;
    <label for="afwijst5">meer dan 80%</label>
    <input type="radio" name="afwijst" value="afwijst5" "/>
    &nbsp;
  </div>

<br/>
Deze kandidaat zou aannemen voor een commerciele functie 
  <div>
    <label for="commercieel1">kleiner dan 20%</label>
    <input type="radio" name="commercieel" value="commercieel1" />
    &nbsp;
    <label for="commercieel2">20 tot 40%</label>
    <input type="radio" name="commercieel" value="commercieel2" "/>
    &nbsp;
    <label for="commercieel3">40 tot 60%</label>
    <input type="radio" name="commercieel" value="commercieel3" "/>
    &nbsp;
    <label for="commercieel4">60 tot 80%</label>
    <input type="radio" name="commercieel" value="commercieel4" "/>
    &nbsp;
    <label for="commercieel5">meer dan 80%</label>
    <input type="radio" name="commercieel" value="commercieel5" "/>
    &nbsp;
  </div>

<br/>
Deze kandidaat zou aannemen voor een back-office functie
  <div>
    <label for="backoffice1">kleiner dan 20%</label>
    <input type="radio" name="backoffice" value="backoffice1" />
    &nbsp;
    <label for="backoffice2">20 tot 40%</label>
    <input type="radio" name="backoffice" value="backoffice2" "/>
    &nbsp;
    <label for="backoffice3">40 tot 60%</label>
    <input type="radio" name="backoffice" value="backoffice3" "/>
    &nbsp;
    <label for="backoffice4">60 tot 80%</label>
    <input type="radio" name="backoffice" value="backoffice4" "/>
    &nbsp;
    <label for="backoffice5">meer dan 80%</label>
    <input type="radio" name="backoffice" value="backoffice5" "/>
    &nbsp;
  </div>

<br/><br/>
Is u iets opgevallen aan het uiterlijk van de kandidaat? Zo ja, schrijf hieronder kort wat:
<br/><br/>
<textarea cols="80" rows="8">
</textarea>       

        <br/><br/> 
        <input id="submit-button" disabled="enabled" type="submit" value="Doorgaan"/>
      </form>
    </div>
</div>

</body>
</html>

<script type="text/javascript">
function everythingDone() {
  var gesprekChecked = $("input[name='gesprek']:checked").attr('value') != undefined; console.log('gesprek checked = ' + gesprekChecked);
  var aanneemtChecked = $("input[name='aanneemt']:checked").attr('value') != undefined; console.log('aanneemt checked = ' + aanneemtChecked);
  var afwijstChecked = $("input[name='afwijst']:checked").attr('value') != undefined; console.log('afwijst checked = ' + afwijstChecked);
  var commercieelChecked = $("input[name='commercieel']:checked").attr('value') != undefined; console.log('commercieel checked = ' + commercieelChecked);
  var backofficeChecked = $("input[name='backoffice']:checked").attr('value') != undefined; console.log('backoffice checked = ' + backofficeChecked);
  var done = gesprekChecked && aanneemtChecked && afwijstChecked && commercieelChecked && backofficeChecked; 
  return done;
}

function enableSubmitButtonWhenReady() {
  if (everythingDone()) {
    console.log("everything done, enabling submit button");
    $('#submit-button').removeAttr('disabled');
  } else {
    setTimeout(enableSubmitButtonWhenReady, 500);
  }
}

enableSubmitButtonWhenReady();

</script>

