#{extends 'main.html' /}
#{set title:'Onderzoek' /}

<body class="yui-skin-sam">

<div id="doc4" class="yui-t3">
  <div id="hd" role="banner">
    <br/><br/>
      <form method="POST" action="bedankt">
        Tot slot wil ik u graag nog de volgende vragen voorleggen:
        <br/><br/>  
        <b>Hoe groot is de kans (in percentages) dat u:</b>   
<br/><br/>
Deze kandidaat uitnodigt voor een 2e gesprek?   
  <div>
    <label for="1">kleiner dan 20%</label>
    <input type="radio" name="gesprek" value="1" />
    &nbsp;
    <label for="2">20 tot 40%</label>
    <input type="radio" name="gesprek" value="2" "/>
    &nbsp;
    <label for="3">40 tot 60%</label>
    <input type="radio" name="gesprek" value="3" "/>
    &nbsp;
    <label for="4">60 tot 80%</label>
    <input type="radio" name="gesprek" value="4" "/>
    &nbsp;
    <label for="5">meer dan 80%</label>
    <input type="radio" name="gesprek" value="5" "/>
    &nbsp;
  </div>

<br/>
Deze kandidaat aanneemt
  <div>
    <label for="1">kleiner dan 20%</label>
    <input type="radio" name="aanneemt" value="1" />
    &nbsp;
    <label for="2">20 tot 40%</label>
    <input type="radio" name="aanneemt" value="2" "/>
    &nbsp;
    <label for="3">40 tot 60%</label>
    <input type="radio" name="aanneemt" value="3" "/>
    &nbsp;
    <label for="4">60 tot 80%</label>
    <input type="radio" name="aanneemt" value="4" "/>
    &nbsp;
    <label for="5">meer dan 80%</label>
    <input type="radio" name="aanneemt" value="5" "/>
    &nbsp;
  </div>

<br/>
Deze kandidaat afwijst voor de functie?                  
  <div>
    <label for="1">kleiner dan 20%</label>
    <input type="radio" name="afwijst" value="1" />
    &nbsp;
    <label for="2">20 tot 40%</label>
    <input type="radio" name="afwijst" value="2" "/>
    &nbsp;
    <label for="3">40 tot 60%</label>
    <input type="radio" name="afwijst" value="3" "/>
    &nbsp;
    <label for="4">60 tot 80%</label>
    <input type="radio" name="afwijst" value="4" "/>
    &nbsp;
    <label for="5">meer dan 80%</label>
    <input type="radio" name="afwijst" value="5" "/>
    &nbsp;
  </div>

<br/>
Deze kandidaat zou aannemen voor een commerciele functie 
  <div>
    <label for="1">kleiner dan 20%</label>
    <input type="radio" name="commercieel" value="1" />
    &nbsp;
    <label for="2">20 tot 40%</label>
    <input type="radio" name="commercieel" value="2" "/>
    &nbsp;
    <label for="3">40 tot 60%</label>
    <input type="radio" name="commercieel" value="3" "/>
    &nbsp;
    <label for="4">60 tot 80%</label>
    <input type="radio" name="commercieel" value="4" "/>
    &nbsp;
    <label for="5">meer dan 80%</label>
    <input type="radio" name="commercieel" value="5" "/>
    &nbsp;
  </div>

<br/>
Deze kandidaat zou aannemen voor een back-office functie
  <div>
    <label for="1">kleiner dan 20%</label>
    <input type="radio" name="backoffice" value="1" />
    &nbsp;
    <label for="2">20 tot 40%</label>
    <input type="radio" name="backoffice" value="2" "/>
    &nbsp;
    <label for="3">40 tot 60%</label>
    <input type="radio" name="backoffice" value="3" "/>
    &nbsp;
    <label for="4">60 tot 80%</label>
    <input type="radio" name="backoffice" value="4" "/>
    &nbsp;
    <label for="5">meer dan 80%</label>
    <input type="radio" name="backoffice" value="5" "/>
    &nbsp;
  </div>

<br/><br/>
Is u iets opgevallen aan het uiterlijk van de kandidaat? Zo ja, schrijf hieronder kort wat:
<br/><br/>
<textarea cols="80" rows="8">
</textarea>       

        <br/><br/> 
        <input id="submit-button" disabled="enabled" type="submit" value="Doorgaan"/>
      </form>
    </div>
</div>

</body>
</html>

<script type="text/javascript">
function everythingDone() {
  var gesprekChecked = $("input[name='gesprek']:checked").attr('value') != undefined; console.log('gesprek checked = ' + gesprekChecked);
  var aanneemtChecked = $("input[name='aanneemt']:checked").attr('value') != undefined; console.log('aanneemt checked = ' + aanneemtChecked);
  var afwijstChecked = $("input[name='afwijst']:checked").attr('value') != undefined; console.log('afwijst checked = ' + afwijstChecked);
  var commercieelChecked = $("input[name='commercieel']:checked").attr('value') != undefined; console.log('commercieel checked = ' + commercieelChecked);
  var backofficeChecked = $("input[name='backoffice']:checked").attr('value') != undefined; console.log('backoffice checked = ' + backofficeChecked);
  var done = gesprekChecked && aanneemtChecked && afwijstChecked && commercieelChecked && backofficeChecked; 
  return done;
}

function enableSubmitButtonWhenReady() {
  if (everythingDone()) {
    console.log("everything done, enabling submit button");
    $('#submit-button').removeAttr('disabled');
  } else {
    setTimeout(enableSubmitButtonWhenReady, 500);
  }
}

enableSubmitButtonWhenReady();

</script>

