#{extends 'main.html' /}
#{set title:'Onderzoek' /}

<script type="text/javascript" src="@{'/public/javascripts/swfobject.js'}"></script>

<body class="yui-skin-sam">
<div id="doc4" class="yui-t3">
  <div id="hd" role="banner"><h1>Header</h1></div>

  <div id="bd" role="contentinfo">
    <div id="yui-main">
      <div class="yui-b">
        <div role="application" class="yui-g">
	<!-- YOUR DATA GOES HERE -->
          <div id="video">
            You need Flash and stuff
          </div>
        </div>
      </div>
    </div>
    <div role="navigation" class="yui-b">
    <!-- YOUR NAVIGATION GOES HERE -->
      <div class="question">
        Conscientieusheid
        <div class="likertscale disabled">
          <label for="cons1">1</label>
          <input type="radio" name="conscientiousness" value="1" id="cons1"/>
          <label for="cons2">2</label>
          <input type="radio" name="conscientiousness" value="2" id="cons2"/>
          <label for="cons3">3</label>
          <input type="radio" name="conscientiousness" value="3" id="cons3"/>
          <label for="cons4">4</label>
          <input type="radio" name="conscientiousness" value="4" id="cons4"/>
          <label for="cons5">5</label>
          <input type="radio" name="conscientiousness" value="5" id="cons5"/>
        </div>
      </div>
      <div class="question">
        Extraversie
        <div class="likertscale disabled">
          <label for="extr1">1</label>
          <input type="radio" name="extraversion" value="1" id="extr1"/>
          <label for="extr2">2</label>
          <input type="radio" name="extraversion" value="2" id="extr2"/>
          <label for="extr3">3</label>
          <input type="radio" name="extraversion" value="3" id="extr3"/>
          <label for="extr4">4</label>
          <input type="radio" name="extraversion" value="4" id="extr4"/>
          <label for="extr5">5</label>
          <input type="radio" name="extraversion" value="5" id="extr5"/>
        </div>
    </div>
  </div>

  <div id="footer"><p>Footer</p></div>
</div>

</body>
</html>

<script type="text/javascript">
  var params = { allowScriptAccess: "always" };
  var atts = { id: "player" };
  swfobject.embedSWF("http://www.youtube.com/v/SBjQ9tuuTJQ?enablejsapi=1&playerapiid=apiplayer&version=3&controls=0&disablekb=1&showinfo=0", "video", "425", "356", "8", null, null, params, atts);
</script>

<script type="text/javascript">
  var player;

  $('.question').hover(function() {
    $(this).find('.likertscale').removeClass('disabled');
  });

  $('.likertscale > input:radio').click(function() {
    console.log(player.getCurrentTime());
    var likertElement = $(this).parent('.likertscale');
    likertElement.addClass('blocked');
    $(likertElement).click(function(event) {
      event.preventDefault();
    });
  });

  function onYouTubePlayerReady(playerId) {
    console.log('playah ready with id ' + playerId);
    player = document.getElementById('player');
  }
</script>
