#{extends 'main.html' /}
#{set title:'Onderzoek' /}

<script type="text/javascript" src="@{'/public/javascripts/swfobject.js'}"></script>

<body class="yui-skin-sam">
<div id="doc4" class="yui-t3">
  <!--<div id="hd" role="banner"><h1>Header</h1></div>-->

  <div id="bd" role="contentinfo">
    <div id="yui-main">
      <div class="yui-b">
        <div role="application" class="yui-g">
	<!-- YOUR DATA GOES HERE -->
          <div id="video">
            You need Flash and stuff
          </div>
        </div>
      </div>
    </div>
    <div role="navigation" class="yui-b">
    <!-- YOUR NAVIGATION GOES HERE -->
      <br/>
      <div class="question">
        <h3>Conscientieusheid</h3>
        <div class="likertscale disabled">
          <label for="cons1">1</label>
          <input type="radio" name="conscientiousness" value="1" id="cons1"/>
          <label for="cons2">2</label>
          <input type="radio" name="conscientiousness" value="2" id="cons2"/>
          <label for="cons3">3</label>
          <input type="radio" name="conscientiousness" value="3" id="cons3"/>
          <label for="cons4">4</label>
          <input type="radio" name="conscientiousness" value="4" id="cons4"/>
          <label for="cons5">5</label>
          <input type="radio" name="conscientiousness" value="5" id="cons5"/>
          <label for="cons6">6</label>
          <input type="radio" name="conscientiousness" value="6" id="cons6"/>
        </div>
      </div>
      <div class="q-candidate question">
        <h3>Extraversie</h3>
        <div class="likertscale disabled">
          <label for="extr1">1</label>
          <input type="radio" name="extraversion" value="1" id="extr1"/>
          <label for="extr2">2</label>
          <input type="radio" name="extraversion" value="2" id="extr2"/>
          <label for="extr3">3</label>
          <input type="radio" name="extraversion" value="3" id="extr3"/>
          <label for="extr4">4</label>
          <input type="radio" name="extraversion" value="4" id="extr4"/>
          <label for="extr5">5</label>
          <input type="radio" name="extraversion" value="5" id="extr5"/>
          <label for="extr6">6</label>
          <input type="radio" name="extraversion" value="6" id="extr6"/>
        </div>
    </div>
  </div>

  <!--<div id="footer"><p>Footer</p></div>-->
</div>

<br/>
<textarea id="output" cols="100" rows="5"></textarea> 

</body>
</html>

<script type="text/javascript">
  var params = { allowScriptAccess: "always" };
  var atts = { id: "player" };
  swfobject.embedSWF("http://www.youtube.com/v/SBjQ9tuuTJQ?enablejsapi=1&playerapiid=apiplayer&version=3&controls=0&disablekb=1&showinfo=0", "video", "425", "356", "8", null, null, params, atts);
</script>

<script type="text/javascript">
  var player;

  $('.question').click(
    function() {
      if (!playing()) {
        return;
      }
      pausePlayer();
      $(this).find('.likertscale').removeClass('disabled');
      $(this).unbind('click');
    }
  );

  $('.likertscale > input:radio').click(function() {
    var time = player.getCurrentTime();
    var lineBreak = "\n";
    var outputBox = $('#output');
    var radioButton = $(this);
    var chosenValue = radioButton.attr('value');
    var scaleName = radioButton.attr('name');
    var existingText = outputBox.val();
    if (existingText.length == 0) {
      lineBreak = "";
    }
    outputBox.val(existingText + lineBreak + "Proefpersoon heeft " + chosenValue + " gekozen op de schaal " + scaleName + " (na " + time + " seconden).");
     
    var likertElement = radioButton.parent('.likertscale');
    likertElement.addClass('blocked');
    $(likertElement).click(function(event) {
      event.preventDefault();
    });
    
    var questionElement = likertElement.parent('.question');
    questionElement.unbind('click');
    radioButton.unbind('click');
    radioButton.siblings().unbind('click');
    
    // make next scale visible
    questionElement.next('.q-candidate').removeClass('q-candidate');

    resumePlayer();
  });

  function onYouTubePlayerReady(playerId) {
    console.log('playah ready with id ' + playerId);
    player = document.getElementById('player');
  }

  function pausePlayer() {
    if (playing()) {
      player.pauseVideo();
    }
  }
  
  function resumePlayer() {
    if (paused()) {
      player.playVideo();
    }
  }

  function playing() {
    return player.getPlayerState() === 1; // playing
  }

  function paused() {
    return player.getPlayerState() === 2; // paused
  }
</script>
