#{extends 'main.html' /}
#{set title:'Onderzoek' /}

<script type="text/javascript" src="@{'/public/javascripts/swfobject.js'}"></script>

<body class="yui-skin-sam">
<div id="doc4" class="yui-t3">
  <!--<div id="hd" role="banner"><h1>Header</h1></div>-->

  <div id="bd" role="contentinfo">
    <div id="yui-main">
      <div class="yui-b">
        <div role="application" class="yui-g">
	<!-- YOUR DATA GOES HERE -->
          <div id="video">
            You need Flash and stuff
          </div>
        </div>
      </div>
    </div>
    <div role="navigation" class="yui-b">
    <!-- YOUR NAVIGATION GOES HERE -->
      <br/>
      #{testscale name:'Commercieel inzicht', label:'commercieelInzicht', explanation:'De kandidaat toont inzicht te hebben in de marktmechanismen binnen en buiten het bedrijf. Hij/Zij weet waarom bepaalde producten of diensten succes hebben en andere niet.' /}
      #{testscale name:'Verkoopvaardigheden', label:'verkoopVaardigheden', explanation:'De kandidaat kan klanten persoonlijk begeleiden naar een aankoop, heeft een professionele uitstraling, luistert goed, en kan de klanten overtuigen.' /}
      #{testscale name:'Onderhandelen', label:'onderhandelen', explanation:'De kandidaat is sterk in het overbrengen van eigen standpunten, weegt goed de argumenten en belangen van de andere partij om zo tot geschikte oplossingen voor beide partijen te komen.' /}
      #{testscale name:'Klantgerichtheid', label:'klantGerichtheid', explanation:'De kandidaat is in staat de wensen en behoeften van klanten te onderzoeken, erop te anticiperen en ernaar te handelen. Hij/zij geeft een hoge prioriteit geven aan dienstverlening en klanttevredenheid.' /}
      #{testscale name:'Mondeling communiceren', label:'mondelingCommuniceren', explanation:'De kandidaat maakt zijn/haar ideeën en meningen duidelijk in een begrijpelijke, ondersteund door een passende lichaamstaal. Hij/zij past zijn taal en terminologie aan de toehoorders aan.' /}
      #{testscale name:'Openheid', label:'openheid', explanation:'De kandidaat gaat op zoek gaan naar nieuwe ervaringen, is nieuwsgierig en fantasievol.' /}
      #{testscale name:'Consciëntieusheid', label:'conscientieusheid', explanation:'De kandidaat gaat georganiseerd en doelgericht te werk, is stipt en nauwkeurig.' /}
      #{testscale name:'Extraversie', label:'extraversie', explanation:'De kandidaat heeft behoefte heeft aan contact met anderen. Hij/zij is sociaal, actief, praatgraag, gericht op personen, optimistisch.' /}
      #{testscale name:'Aangenaamheid', label:'aangenaamheid', explanation:'De kandidaat is hulpvaardig, meegaand en tolerant.' /}
      #{testscale name:'Emotionele stabiliteit', label:'emotioneleStabiliteit', explanation:'De kandidaat is emotioneel stabiel en tevreden met zichzelf. Hij is ontspannen en heeft weinig last hebben van emotionele gebeurtenissen.' /}
      #{testscale name:'Eerlijkheid', label:'eerlijkheid', explanation:'De kandidaat is eerlijk en oprecht ten opzichte van anderen, houdt zich niet bezig met leugens of verdoezeling van feiten.' /}
      #{testscale name:'Intelligentie', label:'intelligentie', explanation:'De kandidaat kan problemen goed oplossen. Hij/zij kan goed leren of weet veel. Hij/zij is in staat op een abstracter niveau na te denken.' /}
    </div>
  </div>
</div>

<br/><br/>

<div id="explanationBox"></div>

<br/><br/>

<div id="footer">
<form method="GET" action="bedankt">
  <input type="submit" value="Doorgaan"/>
</form>
</div>

</body>
</html>

<script type="text/javascript">
  var params = { allowScriptAccess: "always" };
  var atts = { id: "player" };
  var genericVideoLink = "http://www.youtube.com/v/{videoId}?enablejsapi=1&playerapiid=apiplayer&version=3&controls=0&disablekb=1&showinfo=0";
  var videoLink = genericVideoLink.replace("{videoId}", "${videoId}");
  console.log("showing video with link: " + videoLink); 
  swfobject.embedSWF(videoLink, "video", "425", "356", "8", null, null, params, atts);
</script>

<script type="text/javascript">
  var player = {
    getPlayerState: function() {
      return 1;
    },

    pauseVideo: function() {
      return;
    },

    getCurrentTime: function() {
      return "02.2991";
    }
};
  
  unfreezeAllOpenQuestions();
  footer().hide();

  $('a').click(function(event) {
    event.preventDefault();
  });

  $('.likertscale > input:radio').click(function() {
    var time = player.getCurrentTime();
    var radioButton = $(this);
    var chosenValue = radioButton.attr('value');
    var scaleName = radioButton.attr('name');
    
    storeAssessment(scaleName, chosenValue, time);
     
    var likertElement = radioButton.parent('.likertscale');
    likertElement.addClass('blocked');
    $(likertElement).click(function(event) {
      event.preventDefault();
    });
    
    var questionElement = likertElement.parent('.question');
    questionElement.removeClass('open');
    questionElement.unbind('click');
    radioButton.unbind('click');
    radioButton.siblings().unbind('click');
   
    unfreezeAllOpenQuestions(); 
    resumePlayer();
  });
  
  function attentionToQuestion(questionElement) {
    if (!playing() && !ended()) {
      return;
    }
    console.log("attention shifts to " + $(questionElement.children('h3')[0]).text());
    pausePlayer();
    freezeAllQuestions();
    questionElement.find('.likertscale').removeClass('disabled');

    var explanationElement = questionElement.find('.explanation');
    var explanationBox = $('#explanationBox');
    explanationBox.html(explanationElement.html());
    explanationBox.show();
  }

  function freezeAllQuestions() {
    console.log("freezing");
    var questions = $('.question');
    
    // make unclickable, both functionally and from a user perspective
    questions.css('cursor', 'text');
    questions.unbind('click'); 
  }

  function unfreezeAllOpenQuestions() {
    console.log("unfreezing");
    var openQuestions = getOpenQuestions();

    // if all questions are filled in, show the button to go to the next page
    if (openQuestions.size() === 0) {
      console.log("all questions answered, showing submit button");
      footer().show();
      if (ended()) {
        goToNextPage();
      }
    }

    // make clickable, both functionally and from a user perspective
    openQuestions.css('cursor', 'pointer');
    openQuestions.click(function() {
      attentionToQuestion($(this));
    });

    $('#explanationBox').hide();
  }

  function getOpenQuestions() {
    return $('.question').filter('.open');
  }

  function onYouTubePlayerReady(playerId) {
    console.log('playah ready with id ' + playerId);
    player = document.getElementById('player');
    player.addEventListener("onStateChange", "onYouTubePlayerStateChange");
  }

  function onYouTubePlayerStateChange(state) {
    console.log("player's state changed: " + state);
    
    // if player has ended and there are no more open questions, go to next page
    if (state === 0 && getOpenQuestions().size() === 0) {
      console.log("played ended and there are no open questions left, going to next page");
      goToNextPage();
    } 
  }

  function pausePlayer() {
    if (playing()) {
      player.pauseVideo();
    }
  }
  
  function resumePlayer() {
    if (paused()) {
      player.playVideo();
    }
  }

  function playing() {
    return player.getPlayerState() === 1; // playing
  }

  function paused() {
    return player.getPlayerState() === 2; // paused
  }

  function ended() {
    return player.getPlayerState() === 0; //ended
  }

  function storeAssessment(scale, value, passedTime) {
    console.log("storing assessment data: scale = %s, value = %s, time = %s", scale, value, passedTime);
    $.ajax({
      type: 'POST',
      url: 'interview/assessment',
      data: {scaleLabel: scale, value: value, time: passedTime},
      success: function(data){ 
        console.log("data stored with success, return value is: " + data); 
      },
      dataType: 'text'
    });
  }

  function footer() {
    return $('#footer');
  }

  function goToNextPage() {
    footer().find("form").submit();
  }
</script>
