#{extends 'main.html' /}
#{set title:'Onderzoek' /}

<body class="yui-skin-sam">
<div id="doc4" class="yui-t3">
  <div id="hd" role="banner"><h1>Goedemiddag! Welkom bij dit onderzoek</h1></div>

  <div id="bd" role="contentinfo">
    <div id="yui-main">
      <div class="yui-b">
        <div role="application" class="yui-g">
	<!-- YOUR DATA GOES HERE -->
        <form method="GET" action="interview">
          <input name="pp_name"/>
          <input type="submit" value="Ok"/>
        </form>
        </div>
      </div>
    </div>
    <div role="navigation" class="yui-b">
    </div>
  </div>
  <!--<div id="footer"><p>Footer</p></div>-->
</div>

</body>
</html>
