#{extends 'main.html' /}
#{set title:'Onderzoek' /}

<body class="yui-skin-sam">
<div id="doc4" class="yui-t3">
  <div id="hd" role="banner">
    <br/><br/>
      <form method="POST" action="instructions">
        Beste deelnemer,
        <br/>
        Welkom bij het tweede deel van mijn onderzoek.
        Alvorens door te gaan met de instructies vraag ik u om hier onder uw participatiecode in te vullen.
        De participatiecode kan u vinden in de e-mail die ik u heb gestuurd met de link naar deze web pagina.
        Knip en plak de code gerust in het onderstaande veld:
        <br/><br/>
        CODE: <input name="pp_code"/>
        <br/><br/>
        CODE (herhaling ter controle): <input name="pp_code_repeated"/>
        <br/><br/>
        Druk op ok om naar de instructies te gaan
        <br/><br/>
        <input type="submit" value="ok"/>
      </form>
    </div>
  <div id="bd" role="contentinfo">
    <div id="yui-main">
      <!-- YOUR DATA GOES HERE
    </div>
    <div role="navigation" class="yui-b">
    </div>
  </div>
  <!--<div id="footer"><p>Footer</p></div>-->
</div>

</body>
</html>
