#{extends 'main.html' /}
#{set title:'Onderzoek' /}

<body class="yui-skin-sam">

<div id="doc4" class="yui-t3">
  <div id="hd" role="banner">
    <br/><br/>
    #{ifErrors}
      <h1>Er is iets fout gegaan...</h1>
      <br/>
      <span class="error">De codes zijn niet goed ingevuld.</span>
      <br/><br/>
      <span>Probeer het opnieuw:</span>
      <br/>
      <br/>
      <br/>
    #{/ifErrors}

      <form method="POST" action="instructions">
        Beste deelnemer,
        <br/><br/>
        Welkom bij het tweede deel van mijn onderzoek.
        Alvorens door te gaan met de instructies vraag ik u eerst om de vacature nog eens te bekijken.
        
        <br/><br/>
        <a class="link" href="@{'/public/files/Vacature.pdf'}" target="_">Klik hier om de vacature te bekijken.</a>
        <br/><br/>

        Als u de vacature heeft bekeken kunt u hier onder uw participatiecode invullen.
        De participatiecode kan u vinden in de e-mail die ik u heb gestuurd met de link naar deze web pagina.

        Knip en plak de code gerust in het onderstaande veld:
        <br/><br/>
        CODE: <input name="pp_code"/>
        <br/><br/>
        CODE (herhaling ter controle): <input name="pp_code_repeated"/>
        <br/><br/>
        Druk op ok om naar de instructies te gaan
        <br/><br/>
        <input type="checkbox" id="job_opening_read" name="job_opening_read"> Ik heb de vacature gelezen</checkbox>
        <br/><br/>
        <input id="submit-button" disabled="enabled" type="submit" value="ok"/>
      </form>
    </div>
</div>

</body>
</html>

<script type="text/javascript">
  $('#job_opening_read').click(function() {
    var checked = $(this).is(":checked");
    if (checked) {
      console.log('enabling submit button');
      $('#submit-button').removeAttr('disabled');
    } else {
      console.log('disabling submit button');
      $('#submit-button').attr('disabled', 'disabled');    
    }
  });
</script>

