#{extends 'main.html' /}
#{set title:'Onderzoek' /}

<body class="yui-skin-sam">
<div id="doc4" class="yui-t3">
  <div id="hd" role="banner">
    <br/><br/>
    <h1>Hartelijk bedankt!<h1/>
    <br/><br/>
    <h4>
       <b>Beste deelnemer,</b>
       <br/><br/>
       Dit is het einde van deel 2 van mijn onderzoek. Hartelijk bedankt voor het deelnemen aan mijn studie.
       <br/><br/>
       Uw deelname betekent heel veel voor mij en laat mij (hopelijk) toe mijn master te behalen aan de Universiteit Gent.
       Ik zal als alle resultaten binnen zijn en verwerkt contact met u opnemen via e-mail om u op de hoogte te stellen van het doel van mijn onderzoek en de voorlopige resultaten.
       <br/><br/>
       Mocht u in de tussentijd nog vragen hebben over het onderzoek, of wenst u hier geen bericht over te ontvangen, stuur mij dan een bericht op het e-mailadres <a class="email" href="mailto:frederik.varlet@ugent.be">frederik.varlet@ugent.be</a>.
       <br/><br/>
       Nogmaals dank voor uw medewerking.
       <br/><br/>
       Hartelijke groet,
       <br/><br/>
       Frederik Varlet
       <br/><br/>
    <h4/>
  </div>
  <div id="bd" role="contentinfo">
    <div id="yui-main">
      <!-- YOUR DATA GOES HERE
    </div>
    <div role="navigation" class="yui-b">
    </div>
  </div>
  <!--<div id="footer"><p>Footer</p></div>-->
</div>

</body>
</html>
